body {
    margin: 0;
    font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    background-color: black;
    color: white;
}

/* layout */

header {
    box-sizing: border-box;
    text-align: center;
    height: 190px;
    background-color: #3A69D2;
    padding-top: 35px;
}

main {
    margin: 0 38px;
}

.container {
    width: 100%;
    max-width: 550px;
    height: auto;
    max-height: 100%;
    min-height: 719px;
    margin: 0 auto;
    background-color: #1F2937;
    box-sizing: border-box;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
    margin: 39px 0;
}

.headers-tasks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #D5D4D8;
    grid-template-rows: 40px;
}

.headers-tasks p:nth-child(1) {
    justify-self: start;
}

.headers-tasks p:nth-child(2) {
    justify-self: end;
}

.section-tasks {
    height: 135px;
}

.services button {
    background: #D1D4F4;
    border: 1px solid #D5D4D8;
    border-radius: 7px;
    padding: 14px 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    min-width: 142px;
    color: #4A4E74;
}

.services button:active {
    background-color: #3A69D2;
    border: 1px solid #3A69D2;
    color: white;
}

.task {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    grid-template-rows: 45px;
    gap: 10px;
}

.total-amount {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btn-invoice {
    background: #3A69D2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    padding: 9px 15px;
    margin-top: 10px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    border: none;
}

.btn-invoice img {
    vertical-align: middle;
    padding: 0 5px;
}

.btn-invoice:active {
    background-color: #006400;
}

/* typography */

hr {
    border: none;
    border-top: 1px solid #C3C6DB;
    margin: 20px 0;
}

header>h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 0;
}

header>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-top: 10px;
}

.task h2,
.remove-span,
.task p {
    align-self: center;
    line-height: 20px;
}

.task h2 {
    font-weight: 700;
    font-size: 20px;
    color: #F5F5F5;
    margin: 0;
}

.remove-span {
    font-weight: 400;
    font-size: 8px;
    color: #D5D4D8;
}

.task p,
.task p span {
    font-size: 24px;
}

.task p {
    justify-self: end;
    font-weight: 300;
    color: #918E9B;
}

.task p span {
    color: #F5F5F5;
    font-weight: 500;
}

.total-amount p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #F5F5F5;
    margin: 10px 0;
}

.total-amount h2 {
    justify-self: end;
    font-weight: 600;
    font-size: 36px;
    line-height: 32px;
    color: #F5F5F5;
    margin: 15px 0;
}

/* media */

@media (min-width:520px) {
    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 23px;
        margin: 39px 0;
    }

    .btn-invoice {
        margin: 10px 0 0 0;
    }
}

@media (min-width:0px) {
    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn-invoice {
        margin: 20px 0;
    }
}